
body {
  background-image: url("./images/bg.jpg");
  background-repeat: space;
  background-size: cover;
  
 }
 .h1, h1 {
  font-size: 2.5rem;
  text-align: center;
}
div#bodyblock {
  margin: 30px
}
.card {background-color: rgba(245, 245, 245, 0.90) !important;}


.card-header, .card-footer { opacity: 1}
div#longcard {
  padding-top: 30px;
}