
body {
  background-image: url("./images/bg.jpg");
  background-repeat: space;
  background-size: cover;
  height:auto;
  min-height: 100%;
  background-position-x:50%;
  
 }
 .h1, h1 {
  font-size: 2.5rem;
  text-align: center;
}
p {
  text-align: justify;
}

.card {
  background-color: rgba(245, 245, 245, 0.80) !important;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: none;
  border-radius: 0rem;}

div#bottom-card.card{
  background-color: rgba(245, 245, 245, 1.0) !important;
  }

.card-header, .card-footer { opacity: 1}
div#longcard {
  
  padding-bottom: 70px;
}
nav a:hover {
  background: rgba(43, 202, 176, 0.705);
  color: white;
}
div#page-body{
  /* margin: 30px;
  padding: 30px; */
  background-color: rgba(245, 245, 245, 0.40);
  padding-bottom: 60px;
  /* height: calc(100vh - 70px); */
}
/* div#page-body2{
  margin: 30px;
  padding: 30px; 
} */

div#text-block{
  background-color: rgba(245, 245, 245, 0.60);
  padding-left: 40px;
    padding-right: 40px;
    padding-top: 13px;
    margin-bottom: 20px;
    margin-top: 20px;
}
div#login-body{
  padding-block: 90px;
  padding-left: 50%;
  padding-right: 50%;
  background-color: rgba(245, 245, 245, 0.40);
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.container {
  
  position: relative;
  text-align: center;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}
.login-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-group {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.article-list-item {
  text-decoration: none !important;
  color: whitesmoke;
  padding: 5px;
  padding-left:15px;
  margin-left:-20px;
  border-radius: 0px 15px 15px 0px;
  background: linear-gradient(
    145deg
    , #4fb6ff, #43daa9);
  box-shadow: 5px 5px 5px #969cb1, 5px 5px 5px #5a5f6f;
}


.carousel-item, .carousel-item.active {
  align-items:center;
  height: 300px;
  
}
img.d-block.w-100 {
height: 400px;
object-fit: cover;
object-position: top;
}
.carousel-caption {
  background: rgba(0, 0, 0, 0.45);
}

.carousel-caption {
position: absolute;
right: 0% !important;
bottom: 50vh;
left: 0% !important;
z-index: 10;
padding-top: 20px;
padding-bottom: 20px;
color: #fff;
text-align: center;
}
.carousel-control-next, .carousel-control-prev{
  top: 90vh;
}

p#carouselp {
  margin-left: 10px;
  margin-right: 10px;
} 
/* this is for litter classification page  */
.CardWrapper {
  flex: 0 1 300px;
  margin: 12px;
  overflow: hidden;
  padding: 16px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05),
    0 0px 10px rgba(0, 0, 0, 0.08);
  border-radius: 5px;
  flex-wrap: wrap;
  min-width: 300px;
  background-color: rgba(245, 245, 245, 0.90);
}
.Header {
  width: 100%;
  display: flex;
  margin-bottom: 10px;
}
.ColImg {
  width: 30%;
  float: left;
}
.ColDetail {
  width: 70%;
  float: left;
  padding-left: 40px;
}
.Img {
  height: 100px;
  width: 100px;
}
.BookTitle {
  font-size: 20px;
}
.Description {
  color: #757575;
  font-size: 14px;
  margin-bottom:10px;
}
.Link {
  font-size: 14px;
}
.Container {
  width: 80%;
  margin: 0 auto;
  margin-top: 45px;
  display: flex;
  flex-wrap: wrap;
}

/* .Search {
  width: 400px;
  margin: 0 auto;
  position: relative;
  display: flex;
} */
/* .SearchSpan {
  width: 15%;
  border: 1px solid #1C76D2;
  background: #1C76D2;
  padding-top: 4px;
  text-align: center;
  color: #fff;
  border-radius: 5px 0 0 5px;
  font-size: 20px;
} */
.SearchInput {
  width: 85%;
  border: 3px solid #1C76D2;
  border-left: none;
  padding: 5px;
  border-radius: 0 5px 5px 0;
  outline: none;
}

.Title {
  text-align: center;
}